:root{
    --h:100%;
    --w:100%;
    --pr:relative;
    --pa:absolute;
    --fs:18px;
    --n:#2D2A2A;
    --o:#EC6608;
    --m:#BF034D;
    --v:#62d600;
    --b:#92eaff;
    --r:#ff35c5;
    --j:#ffeb00;
    --bl:#ffffff;
}

@font-face{
    font-family: "theboldfont";
    src:url(../typo/the_bold_font/theboldfont.ttf);
}
@font-face{
    font-family: "Cabrion - Light";
    src:url(../typo/cabrion/Cabrion\ -\ Light.otf);
}
@font-face{
    font-family: "Simple Print";
    src:url(../typo/simple_print/Simple\ Print.ttf);
}
@font-face{
    font-family: "Hasteristico";
    src:url(../typo/hasteristico/Hasteristico.ttf);
}
@font-face{
    font-family: "HasteristicoBOLD";
    src:url(../typo/hasteristico/HasteristicoBOLD.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
    background-color: var(--n);
}
.slide{
    width: 100%;
    min-height: 100vh;
    position: var(--pr);
    overflow:hidden;
}
/**NAV**/
nav{
    width: 100%;
    min-height: 8vh;
    background-color:var(--n);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all 0.5s;
}
.nav-scroll{
    background-color: transparent;
}
.nav-scroll .bar{
    background-color:var(--o);
}
.nav-scroll #MODE, .nav-scroll #LANGUE{
    color:var(--o);
}
.nav-scroll #MODE a, .nav-scroll #LANGUE a{
    color:var(--o);
}
.nav-open{
    background-color: transparent;
}
#logomenu{
    width: 20%;
    height: 80px;
    margin-top:1vh;
    margin-left:2vw;
    background-image: url(../images/Illu/Logo\ Spiteful\ Final\ b.png);
    background-size:contain;
    background-repeat: no-repeat;
}
#logomenu a{
    width: 20%;
    height: 80px;
    margin-top:1vh;
    margin-left:2vw;
    cursor:pointer;
}
nav ul{
    width: 20%;
    display: flex;
    list-style: none;
}
nav ul li{
    flex: 1;
    display: flex;
}

/***BURGETBOUT***/
.burgerbout{
    margin: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.bar{
    width: 100%;
    height: 5px;
    background-color:var(--bl);
    margin-top: 5px;
    transition: all 0.5s;
}
.bar:nth-child(1)
{
    transform: translateX(10px);
}
.bar:nth-child(2)
{
    transform: translateX(5px);
}
.burger-open .bar:nth-child(1){
  transform: translate(0px, 15px) rotate(-25deg);
}
.burger-open .bar:nth-child(2){
    opacity: 0 !important;;
}
.burger-open .bar:nth-child(3){
    transform: translate(0px, -5px) rotate(25deg);
}
/***LANGUE***/
#LANGUE{
    color:var(--bl);
    margin: auto;
    font-family: "HasteristicoBOLD";
    font-size:20px;
    letter-spacing: .1vw;
}
#LANGUE a{
    color:var(--bl);
    text-decoration: none;
    transition: ease-in-out .5s;
    margin-left: 40%;
}
#LANGUE a:hover{
    color:var(--o);
}
/***MODE***/
#MODE{
    color:var(--bl);
    margin: auto;
    font-family: "HasteristicoBOLD";
    font-size:20px;
    letter-spacing: .1vw;
}
#MODE a{
    color:var(--bl);
    text-decoration: none;
    transition: ease-in-out .5s;
}
#MODE a:hover{
    color:var(--o);
}
/***MENU***/
.menu{
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 99;
    background-color: var(--n);
    background-image: url(../images/Illu/Logo\ Spiteful\ Final\ R.png.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.5s;
}
.open{
    left: 0%;
}
.container-menu{
    margin: auto;
    width: 30%;
    font-family: "Hasteristico";
    text-align: center;
    letter-spacing: .1vw;
}
#options div{
    margin: 30px 0;
    text-align: center;
}
#options div a {
    color:var(--bl);
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    transition:ease-in-out .5s;
}
#options div a:hover {
    color:var(--o);
}

/***BOUT RETOUR***/
#boutret{
    color:var(--bl);
    margin: auto;
    font-family: "HasteristicoBOLD";
    font-size:20px;
    letter-spacing: .1vw;
}
#boutret a{
    color:var(--bl);
    text-decoration: none;
    transition: ease-in-out .5s;
}
#boutret a:hover{
    color:var(--o);
}
/************* HOME ***********/
.video-fond{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.video-fond video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top:0vh;
}

/***PRES***/
#pres .wrapper{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;
}
#textpres, #imgpres{
    width:50%;
    height:100vh;
}
.textpres{
    width:96%;
    height:30vh;
    text-align: justify;
    margin-top:40vh;
    margin-left:2%;
}
.textpres p{
    font-size:24px;
    font-family: 'Cabrion - Light';
    color:var(--bl);
}
.PC{
    color:var(--o);
}
.imgpres h1{
    font-family: 'theboldfont';
    font-size:250px;
    color:var(--m);
    opacity:45%;
    margin-left:8vw;
    margin-top:-26vh;
    letter-spacing: .1vw;
}
.imgpres img{
    width: 90%;
    height:90%;
    margin-top:2vh;
    margin-left:6vw;
    z-index:10000;
}
/***HISTORY***/
#history .wrapper{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#sci{
    width: 45%;
    height: 100vh;
    display:flex;
    overflow:hidden;
}
.sci{
    width:60%;
    height:70%;
    margin-top:20vh;
}
.scipho img{
    width:87%;
    height:85%;
    object-fit: scale-down;
    z-index:100000;
}
.scipho p{
    width:70%;
    letter-spacing: .1vw;
}
.scipho .p1{
    font-family: 'HasteristicoBOLD';
    font-size:24px;
    color:var(--bl);
}
.scipho .p11{
    font-family: 'Hasteristico';
    font-size:20px;
    color:var(--bl);
}
.sci h1{
    width:10%;
    height:6%;
    transform: rotate(-90deg);
    font-family:'theboldfont';
    font-size:70px;
    color:var(--bl);
    opacity:80%;
    margin-top:-35vh;
    margin-left:19vw;
}
.textsci{
    width:40%;
    height:70%;
    margin-top:20vh;
}
#texts{
    width:94%;
    height:53%;
    margin-top:35vh;
    background-color:var(--o);
    margin-left:3%;
}
.texts{
    width:90%;
    height:40%;
    margin:5%;
    text-align:justify;
    padding-top:12vh;
}
.texts p{
    color:var(--bl);
    font-family:"Cabrion - Light";
    font-size:20px;
}
#texthist{
    width: 55%;
    height: 100vh;
    text-align:justify;
    position: relative;
    overflow-x: hidden;
    text-align:justify;
}
.texthist{
    width:80%;
    height:20%;
    font-family: 'Cabrion - Light';
    font-size:24px;
    margin-top:40vh;
    margin-left:6vw;
    color:var(--bl);
}
.barsci{
    margin-top:22vh;
    margin-left:-28vw;
    width:43.9vw;
    height:0.3vh;
    background:var(--o);
}
/************** MEDOC *************/
#medoc .wrapper{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.list{
    width: 30%;
    height: 100vh;
    background-color:var(--bl);
}
#barre{
    width:100%;
    height:.5vh;
    background-color:var(--bl);
}
.medoc-container{
    width: 70%;
    min-height: 100vh;
    text-align: right;
    position: relative;
}

#puces{
    margin-left: 7.5vw;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.puce{
    width: 20px;
    height: 20px;
    background-color:var(--m);
    opacity:50%;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition:.3s ease-in-out;
}
.puce:hover{
    background-color:var(--n);
    opacity:80%;
}
.medocs{
    width: 100%;
    min-height: 80%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    transition: all 0.5s;
    margin-top:15vh;
}
.medocs .img{
    width: 500px;
    height: 500px;
    margin-top: 10vh;
    margin-left:40vw;
}
.medocs .img img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.medoc-open{
    opacity: 1;
}
#medoc-info{
    text-align:center;
    width: 100%;
    height: 50%;
    position: relative;
}
.med-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: var(--bl);
}
.med-open{
    z-index: 3;
}
.title{
    font-family:"theboldfont";
    font-size:70px;
    color:var(--n);
    padding-top:16vh;
    letter-spacing:.1vw;
}
.blocinfo{
    width:100%;
    height:20%;
    display:flex;
}
#num{
    width:10vw;
    height:5vh;
    text-align:center;
    transform:rotate(-90deg);
    margin-top:5.5vh;
}
.num{
    color:var(--o);
    font-family:"HasteristicoBOLD";
    font-size:40px;
    letter-spacing: .1vw;
}
#pm{
    width:10vw;
    height:10vh;
    margin-top:3vh;
    line-height: 200%;
}
.pouc{
    padding-top:2vh;
}
.pouc, .maladie{
    color:var(--n);
    font-family:"Simple Print";
    font-size:44px;
}
.nom{
    font-size:150px;
    font-family:"theboldfont";
    color:var(--bl);
    opacity:.85;
    margin-top:-12vh;
}
/***VIDEOS***/
#video .wrapper{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow:hidden;
}
#pucevid{
    width:50%;
    height:100vh;
    display: flex;
    z-index:60;
}
.pucesvid{
    height:80%;
    width:5vw;
    margin-top:15vh;
    margin-right:.3vw;
    transition:.5s ease-in-out;
    background-size: cover;
    background-position: center center;
    filter: grayscale(1);
}

.pucesvid:hover{
    filter: grayscale(0);
}

.video-container{
    width:50%;
    height:100vh;
    position:relative;
}
#action{
    width:100%;
    height:100vh;
}
#action img{
    width:200px;
    height:200px;
    margin-top:48%;
    background-size:contain;
}
#action p{
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-size: 35px;
    font-family: 'theboldfont';
    text-justify:left;
    transition: all 1s;
    color:white;
}

.vids{
    width:100%;
    height:80vh;
    position:absolute;
    opacity:0;
    right:100%;
    margin-top:-90vh;
    transition: all 1s;
    z-index:2;
}
.vid-open{
    opacity:1;
    right:0!important;
}
.nomanim{
    font-size:55px;
    font-family: 'HasteristicoBOLD';
    letter-spacing: .1vw;
    color:var(--bl);
}
.prob{
    font-size:40px;
    font-family: 'HasteristicoBOLD';
    letter-spacing: .1vw;
    color:var(--o);
}
.video{
    width:100%;
    height:40vh;
    margin-top:5vh;
    position: relative;
}
.video video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}
.desc{
    width:100%;
    min-height:10vh;
    margin-top:2vh;
    font-family:'Cabrion - Light';
    color:var(--bl);
}
#infoanim{
    width:100%;
    height:20vh;
    display: flex;
    flex-wrap: wrap;
}
.animal{
    width:30%;
    height:10vh;
}
.na1, .hab1{
    font-family:'Cabrion - Light';
    font-size:15px;
    color:var(--bl);
}
.TitNH{
    font-family:'theboldfont';
    font-size:15px;
    color:#BF034D;
}
.habitat{
    width:100%;
    height:9vh;
    margin-top:1vh;
}
.malvid{
    width:30%;
    height:100%;
}
.TitNP{
    font-family:'theboldfont';
    font-size:15px;
    color:var(--o);
}
#peptide{
    font-size:12px;
    font-family: 'Cabrion - Light';
    color:var(--bl);
}
.imgdesc{
    min-height:50vh;
    width:40%;
}
.imgdesc img{
    height:20vh;
    margin-left:7vw;
    
}

/*********** CONTACT ***********/
#contact{
    width:100%;
    min-height:100vh;
}
#contact .wrapper{
    width:95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#contact #MAP .CC1 p, #contact #FORM .CC2 p{
    font-size: 60px;
    font-family:'theboldfont';
    color:var(--bl);
    height:10vh;
    width:40%;
}
#MAP .adr p{
    color:var(--bl);
    font-family: "Cabrion - Light";
    font-size:18px;
    margin-top:-1vh;
}
#FORM .adr2 p{
    color:var(--bl);
    font-family: "Cabrion - Light";
    font-size:18px;
    margin-top:-1vh;
}
#FORM, #MAP{
    height:30vw;
    width:40%;
    margin-top:30vh;
    display:flex;
}
#MAP{
    margin-left: 5vw;  
    border-top:var(--bl) solid 5px; 
}
#FORM{
    margin-left:8vw;
    border-bottom:var(--bl) solid 5px;
}
#cartebox{
    width:60%;
    background-color:var(--n) ;
    border:solid var(--bl) 2px;
}
#carte{
    margin-left:3vw;
    margin-top:8vh;
}
#CC1{
    width:40%;
}
.CC1 p{
    margin-top:2vh;
    margin-left:1vw;
}
.CC2 p{
    margin-top:45vh;
    margin-left:1vw;
}
#formulaire{
    width:30vw;
    background-color: var(--n);
    border:solid var(--bl) 2px;
}
.border{
    width:80%;
    height:3vh;
    margin-top:.3vh;
    margin-left:1vw;
    border-bottom:solid var(--bl) .6px;
}
#formulaire form{
    width:19vw;
    min-height:33vh;
    margin-top:6vh;
    margin-left:2vw;
    overflow:hidden;
    background-color: rgba(255,255,255,0.3);
    padding-top:1.5vh;
}
#formulaire form .design{
    width:70%;
    background: none;
    border: none;
    font-family: "Cabrion - Light";
    font-size:13px;
    margin-top:.8vh;
    margin-left:.7vw;
}
#formulaire form .destext{
    background: none;
    border: none;
    font-family: "Cabrion - Light";
    opacity: 50%;
    font-size:13px;
    border-bottom: solid .6px var(--bl);
    width: 15vw;
    height:10vh;
    color: var(--bl);
    opacity: 80%;
    margin-left:1vw;
    margin-top:1vh;
}
.adr2{
    height:6vh;
    width:80%;
    margin-top:3vh;
    margin-left:2vw;
}
.textform{
    font-family:"Cabrion - Light";
    font-size:18px;
    color:var(--bl);
}
.adr{
    margin-top:4vh;
    margin-left:3vw;
}
.flash-success{
    font-family: 15px;
    font-family:"Cabrion - Light";
    color:var(--bl);
}
.flash-error{
    font-family: 15px;
    font-family:"Cabrion - Light";
    color:var(--m);
}
#boutenv{
    background:none;
    border:none;
    font-size:16px;
    font-family:"Cabrion - Light";
    color:var(--o);
    margin-top:2vh;
    margin-left:1vw;
    margin-bottom:2vh;
    transition: all 0.25s ease-in-out; 
}
#boutenv:hover{
    color:var(--o);
}

/**FOOTER**/

footer{
    width:var(--w);
    height:5vh;
    text-align:center;
    overflow:hidden;
}
footer p{
    font-family: 'Cabrion - Light';
    font-size:14px;
    color:var(--bl);
    margin-left:2vw;
    margin-top:2vh;
}
footer p a{
    color:var(--bl);
    text-decoration: none;
}
footer p a:hover{
    color:var(--o);
    transition: all 0.25s ease-in-out;
}

/**** COOKIES FOOTER ****/
#cookie{
    width: 100%;
    height: 8vh;
    background-color:var(--bl);
    color: var(--n);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cookie p{
    margin-left:3vw;
    font-family: 'Cabrion - Light';
}
.boutCook{
    display: flex;
    width:25vw;
    height:3vh;
    margin-right:2vw;
}
#TC, #ACCEPT{
    width:12vw;
    height:3vh;
}
#ACCEPT{
    margin-left:1vw;
}
#cookie a{
    letter-spacing: .1vw;
    font-family:'theboldfont' ;
    font-size:15px;
    display: block;
    padding: 5px;
    color:var(--n);
    text-decoration: none;
    transition: all ease-in-out 1s;
}
#cookie a:hover{
    color:var(--o);
    background-color:rgba(255,255,255,0.6);
}
/****COOKIES PAGE****/
#cookies{
    width:95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top:10vh;
}
#CHARTC{
    width:90%;
    min-height:8vh;
    margin-bottom:3vh;
}
#CHARTC p{
    font-size:25px;
}
#cookies h1{
    font-size:50px;
    color:var(--bl);
}
#cookies h1, h2, h3{
    font-family: "theboldfont";
    margin-bottom:1.3vh;
}
#cookies h2{
    margin-left:2vw;
    color:#EC6608;
}
#cookies h3{
    margin-left:3vw;
    color:orange;
}
#cookies p{
    font-family: "Cabrion - Light";
    color:var(--bl);
    margin-bottom:1vh;
    margin-left:3vw;
}

#cookies h4{
    font-family: "theboldfont";
    color:#EC6608;
    margin-top:3vh;
    margin-left:1.3vw;
    font-size:30px;
}
.internet{
    width:60%;
    min-height: 20vh;
    margin-top:5vh;
    margin-left:20vw;
    overflow: hidden;
}
.block{
    width:30vw;
    height:10vh;
    display:flex;
    flex-wrap: wrap;
    margin-bottom:2vh;
}
.block img{
    width:6vw;
    height:10vh;
    background-image: contain;
}
.textinet{
    margin-left:5vw;
}
#safari{
    margin-bottom:5vh;
}


