*{
    margin:0;
    padding:0;
}
html , body{
    width:var(--w);
    height:var(--h);
    overflow-x:hidden;
    scroll-behavior:smooth;
    background-color:white;
}
:root{
    --h:100%;
    --w:100%;
    --pr:relative;
    --pa:absolute;
    --fs:18px;
    --n:#2D2A2A;
    --o:#EC6608;
    --m:#BF034D;
    --v:#62d600;
    --b:#92eaff;
    --r:#ff35c5;
    --j:#ffeb00;
    --bl:#ffffff;
}
@font-face{
    font-family: "theboldfont";
    src:url(../typo/the_bold_font/theboldfont.ttf);
}
@font-face{
    font-family: "Cabrion - Light";
    src:url(../typo/cabrion/Cabrion\ -\ Light.otf);
}
@font-face{
    font-family: "Simple Print";
    src:url(../typo/simple_print/Simple\ Print.ttf);
}
@font-face{
    font-family: "Hasteristico";
    src:url(../typo/hasteristico/Hasteristico.ttf);
}
@font-face{
    font-family: "HasteristicoBOLD";
    src:url(../typo/hasteristico/HasteristicoBOLD.ttf);
}
/********MESS ERROR**********/
.noco{
    width:30vw;
    height:30vh;
    background-color: var(--n);
    color:var(--m);
}
/********************************NAV**********************/
nav{
    width:var(--w);
    height:10vh;
    position: var(--pr);
    display:flex;
    overflow:hidden;
}
#form{
    overflow:hidden;
}
#connexion{
    width:80vw;
    display:flex;
    margin-top:1vh;
    margin-left:5vw;
}
#connexion h1{
    font-family:"theboldfont";
    font-size:28px;
    color:var(--v);
    margin-right:2vw;
}
#bloco{
    width:65vw;
    height:4vh;
    background-color:var(--v);
    overflow:hidden;
}
.BJR{
    width:30vw;
    height:4vh;
    display:flex;
}
#bjr, #deco{
    margin-top:1vh;
}
#bjr, #deco, #Admin, #Mdp{
    width:17vw;
    font-family:'Hasteristico';
    font-size:16px;
    color:white;
    letter-spacing: 0.1vw;
    margin-left:1vw;
    margin-top:1vw;
}
#deco a{
    text-decoration:none;
    color:white;
    cursor:pointer;
}
#deco a:hover{
    color:var(--n);
    transition:all 0.25s ease-in-out;
}
.textform{
    height:4vh;
    font-family:'theboldfont';
    font-size:16px;
    color:white;
    border:none;
    background:none;
    margin-left:1vw;
}
#Admin, #Mdp{
    background:none;
    border:none;
    border-bottom:1px white solid;
}
#boutco{
    width:5vw;
    height:5vh;
    font-size:16px;
    background:none;
    border:none;
    text-align:center;
    font-family:"theboldfont";
    color:white;
    margin-left:2.3vw;
}
#boutco:hover{
    color:var(--n);
    transition:all 0.25s ease-in-out;
}
/******************************BlocAdmin**************/
.bloctext{
    position:var(--pr);
    width:50%;
    height:90vh;
}
#blocadmi{
    width:var(--w);
    height:90vh;
    position:var(--pr);
    overflow:hidden;
    display:flex;
}
#mambav{
    width:50vw;
    height:50vh;
    background-image:url(../images/PNG/Green_Mamba_ret.png);
    background-size:contain;
    background-repeat: no-repeat;
    margin-top:25vh;
    margin-left:-10vw;
}
#titreP{
    width:23vw;
    height:15vh;
    transform:rotate(-90deg);
    margin-left:18vw;
    margin-top:-30vh;
}
h2{
    font-family:"theboldfont";
    font-size:120px;
    color:var(--n);
}

/**************************ADMINISTRATION CHOIX***********************/
#PHOTOS{
    min-width:30vw;
    height:90vh;
    position:var(--pr);
    margin-top:28vh;
    margin-left:-13vw;
}
.photos{
    width:60vw;
    height:5vh;
    display:flex;
    position:var(--pr);
    margin-bottom:0.5vh;
}
.slide, .nom, .photo{
    width:10vw;
    height:4vh;
    font-family:"Cabrion - Light";
    font-size:20px;
    text-align: left;
    line-height:200%;
}
.photo img{
    width:10vw;
    height:4vh;
    object-fit: scale-down;
}
/***************BlocVid****************/
#blocvid{
    width:var(--w);
    height:var(--h);
    position:var(--pr);
    overflow:hidden;
    display:flex;
}
#VIDEOS{
    width:30vw;
    height:90vh;
    position:var(--pr);
    margin-top:28vh;
    margin-left:5vw;
}
#meduse{
    width:70vw;
    height:70vh;
    background-image:url(../images/PNG/Chironex_Fleckeri.png);
    background-size:contain;
    background-repeat: no-repeat;
    margin-top:25vh;
    transform:rotate(-45deg);
    position:var(--pr);
}
.videos{
    width:60vw;
    height:5vh;
    display:flex;
    position:var(--pr);
    margin-bottom:0.5vh;
    overflow:hidden;
}
.videos video{
    width:10vw;
    height:4vh;
}
#titreV{
    width:23vw;
    height:15vh;
    transform:rotate(-90deg);
    margin-top:-80vh;
    margin-left:35vw;
}
#retour{
    height:4vh;
    width:7vw;;
    margin-top:1vh;
    line-height:200%;
}
#retour a{
    color:var(--n);
    text-decoration: none;
    transition:ease-in-out .5s;
    font-family:"theboldfont";
}
#retour a:hover{
    color:var(--o);
}
/************************MEDIA QUERIES*********************/
@media all AND (max-width:1024px)/***IPAD HOR***/
{
    /***NAV***/
    #connexion{
        width:82vw;
    }
    #connexion h1{
        font-size:20px;
        margin-top:1vh;
        margin-right:1vw;
    }
    #bloco{
        height:5vh;
    }
    .textform{
        margin-left:0.5vw;
        font-size:12px;
    }
    #boutco{
        width:7vw;
        height:4vh;
        font-size:12px;
        margin-left:0vw;
    }
     /***MENU***/
    .Menu{
        width:400px;
        height:400px;
        margin-left:0vw;
        margin-top:8vh;
    }
    h4{
        font-size:40px;
    }
    #options a{
        font-size:14px;
    }
    /******BlocAdmin*******/
    #mambav{
        width:40vw;
        height:40vh;
    }
    #titreP{
        margin-left:15vw;
    }
    h2{
        font-size:100px;
    }
    .slide, .nom, .photo{
        font-size:15px;
    }
    #titreV{
        margin-top:-60vh;
    }
    #meduse{
        width:60vw;
        height:60vh;
    }

}

